.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.about-container h3 {
    font-size: 8ch;
}

.about-top-container {
    display: flex;
    flex-direction: row;
}

.about-us-text {
    margin-left: 20vw;
    text-align: center;
    width: 50%;
}