.footer-link {
    text-decoration: none;
    color: #DAD7CD;
    display: flex;
    align-items: center;
    position: relative;
    max-width: 200px;
    padding-left: 2%;
    padding-right: 2%;
}

.footer-div {
    background-color: #3A5A40;
    text-align: center;
    flex-direction: row;
}

.footer-page-links {
    display: flex;
}