.footer-div {
    display: flex;
    background-color: #3A5A40;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer-link {
    text-decoration: none;
    color: #DAD7CD;
    max-width: 200px;
    padding-left: 2%;
    padding-right: 2%;
}

.footer-page-links {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.social-container {
    align-items: center;
}

.social-container a {
    padding: 3px;

}