.top-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Lora', sans-serif;
    font-size: 250%;
}

.home-page-big-text {
    margin-top: 2%;
    width: 50%;
}

.home-page-header {
    text-align: center;
}

.we-are-centra-container {
    display: flex;
    flex-direction: row;
    height: fit-content;

}

.header-container-we-are-centra {
    display: flex;
    flex-direction: column;
    padding-left: 15%;
    padding-top: 3%;
}

.header-container-we-are-centra h2 {
    font-size: 6ch;
    margin: 0;
}

.header-container-we-are-centra h1 {
    font-size: 10ch;
    margin: 0;
}

.left-side-we-are-centra {
    background-color: whitesmoke;
    width: 50%;
}

.we-are-centra-text-container {
    background-color: white;
    z-index: 1;
    position: absolute;
    margin-top: 2%;
    margin-left: 5vw;
    width: 70%;
}

.we-are-centra-caption {
    font-size: 3ch;
    padding-left: 3%;
    padding-right: 3%;
    color: rgb(117, 111, 111);
}

.we-are-centra-caption-2 {
    font-size: 2.7ch;
    color: rgb(144, 135, 135);
}


.right-side-we-are-centra {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    width: 60%;
    padding-left: 10%
}

.right-side-we-are-centra img {
    width: 55%;
    filter: grayscale();
    margin-top: 2%;
    margin-bottom: 2%;
}

.right-side-we-are-centra img:nth-child(1) {
    margin-left: 20%;

}


mark {
    color: #3A5A40;
    background-color: transparent;
}

.big-text-caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}

.big-text-caption span {
    margin-top: 10px;
}

.home-page-btn {
    flex: 1 1 auto;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 100px;
    padding: 20px;
    text-align: center;
    text-transform: capitalize;
    transition: 0.5s;
    border-radius: 10px;
    background-color: #588157;
    font-size: 2ch;
    font-family: inherit;
    font-weight: 800;
    color: rgb(255, 255, 255);
    border: none;
}

.free-strat-btn {
    flex: 1 1 auto;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 100px;
    padding: 10px;
    text-align: center;
    text-transform: capitalize;
    transition: 0.5s;
    border-radius: 10px;
    background-color: #588157;
    font-size: 3ch;
    font-family: inherit;
    font-weight: 700;
    color: rgb(255, 255, 255);
    border: none;
}

.we-are-centra-btn {
    --b: 5px;
    /* thickness of the border */
    --c: #588157;
    /* color of the border */
    --w: 20px;
    /* width of border */


    border: var(--b) solid #0000;
    /* space for the border */
    --_g: #0000 90deg, var(--c) 0;
    --_p: var(--w) var(--w) border-box no-repeat;
    background:
        conic-gradient(from 90deg at top var(--b) left var(--b), var(--_g)) 0 0 / var(--_p),
        /* conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g)) 100% 0 / var(--_p), */
        /* conic-gradient(from 0deg at bottom var(--b) left var(--b), var(--_g)) 0 100% / var(--_p), */
        conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--_g)) 100% 100% / var(--_p);

    margin-left: 5%;
    margin-bottom: 2%;
    margin-top: 2%;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 2.8ch;
}

.who-we-help-h1 {
    text-transform: capitalize;
    text-align: center;
    padding: -3rem;
}

p {
    padding-left: 2rem;
    padding-right: 2rem;

}

.middle-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #eeee;
}

.middle-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 700px;
    text-transform: capitalize;
}

.middle-text h2 {
    font-size: 8ch;
    width: 150%;
}

.middle-text span {
    font-size: 3.8ch;
    width: 130%;
}

.middle-text ul {
    text-transform: none;
    list-style: none;
}

.middle-text li:before {
    font-family: 'FontAwesome';
    content: '\2714\0020';
    margin: 0 5px 0 -15px;
    color: green;
}

.middle-text li {
    font-size: 2.8ch;
}

.picture-middle {
    padding: 20px;
}

.picture-middle img {
    width: 720px;
    height: inherit;
}

.bottom-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.icon-header {
    font-size: 6ch;
    align-self: center;
    text-align: center;
    font-weight: 500;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
    align-items: center;
    text-align: center;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 80vh;
    margin-bottom: 15vh;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 30px;
    border: solid;
    border-color: lightgray;
}


.icons div img {
    width: 200px;
    margin-top: 20px;
    border-radius: 10%;
}

.icons div h1 {
    font-size: 5ch;
    font-weight: 500;
}

.icons div span {
    margin-bottom: 5vh;
    font-size: 3.2ch;
}

.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3A5A40;
}

.faq h2 {
    font-size: 8ch;

}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #3A5A40;
    color: #eee;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: .8s;
    font-size: 4ch;
    text-align: center;

}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
    background-color: #eee;
    color: black;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: #eee;
    color: black;
    display: none;
    overflow: hidden;
}

.work-with-us {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.work-with-us h1 {
    font-size: 5ch;
}

.contact-now-btn {
    width: 40%;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 100px;
    padding: 20px;
    text-align: center;
    text-transform: capitalize;
    transition: 0.5s;
    border-radius: 10px;
    background-color: #3A5A40;
    font-size: 4ch;
    font-family: inherit;
    font-weight: 800;
    color: rgb(255, 255, 255);
    border: none;
}