.top-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Lora', sans-serif;
    font-size: 250%;
}

.home-page-big-text {
    margin-top: 2%;
    width: 50%;
}

.home-page-header {
    text-align: center;
}

mark {
    color: #3A5A40;
    background-color: transparent;
}

.big-text-caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}

.big-text-caption span {
    margin-top: 10px;
}

.home-page-btn {
    flex: 1 1 auto;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 100px;
    padding: 10px;
    text-align: center;
    text-transform: capitalize;
    transition: 0.5s;
    border-radius: 10px;
    background-color: #588157;
    font-size: 2ch;
    font-family: inherit;
    font-weight: 800;
    color: rgb(255, 255, 255);
}

.free-strat-btn {
    flex: 1 1 auto;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 100px;
    padding: 10px;
    text-align: center;
    text-transform: capitalize;
    transition: 0.5s;
    border-radius: 10px;
    background-color: #588157;
    font-size: 3ch;
    font-family: inherit;
    font-weight: 800;
    color: rgb(255, 255, 255);
}

.who-we-help-h1 {
    text-transform: capitalize;
    text-align: center;
    padding: -3rem;
}

p {
    padding-left: 2rem;
    padding-right: 2rem;

}

.middle-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #eeee;
}

.middle-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 700px;
    text-transform: capitalize;
}

.middle-text h2 {
    font-size: 6ch;
}

.washiington-grayscale {
    background-image: url("../images/washington_skyline.jpg");
    filter: grayscale(100%);
    width: 100%;
}

.middle-text span {
    font-size: 3ch;
    width: 50vw;
}

.middle-text ul {
    text-transform: none;
}

.middle-text li {
    font-size: 2.3ch;
}

.picture-middle {
    padding: 20px;
}

.picture-middle img {
    width: 720px;
    height: inherit;
}

.bottom-header {
    text-align: center;
}

.bottom-header h2 {
    font-size: 6ch;
}

.bottom-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.work-with-us {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.work-with-us h1 {
    font-size: 5ch;
}

.contact-now-btn {
    width: 40%;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 100px;
    padding: 20px;
    text-align: center;
    text-transform: capitalize;
    transition: 0.5s;
    border-radius: 10px;
    background-color: #3A5A40;
    font-size: 4ch;
    font-family: inherit;
    font-weight: 800;
    color: rgb(255, 255, 255);
}