.parent-container {
    display: flex;
    flex-direction: column;
}

.services-top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-top-container h1 {
    width: 80%;
    font-size: 9ch;
    margin-bottom: 6vh;
}

.services-top-container caption {
    width: 75%;
    font-size: 3vh;
    margin-bottom: 3vh;
}

.services-top-container .contact-now-btn {
    margin-top: 3vh;
    margin-bottom: 20vh;
    border: none;
    font-weight: 600;
}

.services-middle-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
}

.services-middle-container h2 {
    margin-left: 5%;
    font-size: 7ch;
    font-weight: 600;
}

.header-container {
    width: 100%;
    background-color: #e6e6e6;
}

.all-unique-text {
    padding-left: 3vw;
    margin-bottom: 4vh;
    font-size: 3ch;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 3.5ch;
    font-weight: 300;
    background-color: #e6e6e6;
}

.all-unique-text img {
    width: 50%;
    margin-right: 3%;
    margin-bottom: 10%;
}

.discover-text {
    padding-left: 3vw;
    margin-bottom: 4vh;
    font-size: 3ch;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 3.5ch;
    font-weight: 300;
}

.discover-text img {
    width: 60%;
    margin-left: 3%;
}

#services-cards {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.bottom-container-header {
    text-align: center;
}

.bottom-container-header h1 {
    font-size: 6ch;
}

.card {
    height: 80vh;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    border: 2px solid lightgray;
    border-radius: 30px;
    width: 25%;
    margin-bottom: 5vh;
    margin-top: 5vh;
}

.card-content {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.card-content h2 {
    font-size: 3ch;
    margin-left: 1vw;
    margin-right: 1vw;
}

.card-content p {
    text-align: left;
    font-size: 2.3ch;
    text-align: center;
}

.card-content ul {
    list-style: none;
    align-self: flex-start;
    padding-right: 1vw;
}

.card-content li:before {
    font-family: 'FontAwesome';
    content: '\2714\0020';
    margin: 0 5px 0 -15px;
    color: green;
}

.card-content li {
    margin-bottom: 2vh;
    margin-top: 2vh;
    font-size: 2ch;
}