.ecommerce-shout-out {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 5ch;
    margin-bottom: 20vh;
    margin-top: 15vh;
}

.container-who-we-help {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #588157;
    margin-bottom: 10rem;
}

.container-who-we-help h2 {
    font-size: 6ch;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #588157;
    align-items: center;
    text-align: center;
}

.icons div {
    width: 25vw;
    height: 60vh;
    margin-right: 50px;
    margin-bottom: 40px;
    padding: 5px;
    background-color: white;
    border-radius: 10%;
    border-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons div img {
    width: 200px;
    margin-top: 20px;
    border-radius: 10%;
}

.icons div h1 {
    font-size: 5ch;
}

.icons div span {
    margin-bottom: 5vh;
    font-size: 3.2ch;
}

.white {
    color: #eee;
}

.steps-backdrop {
    background: white;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.steps {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.steps-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #3A5A40;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
    background-color: white;
    color: black;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    color: black;
    display: none;
    overflow: hidden;
}